astropy
aiohttp
boto3
celerite2
click
dask
numpy
requests
pandas
pyarrow
wget
s3fs
scipy
tqdm
pymongo


-e git+https://git@github.com/alercebroker/turbo-fats#egg=turbofats
-e git+https://git@github.com/alercebroker/mhps#egg=mhps
-e git+https://git@github.com/alercebroker/P4J#egg=P4J
-e git+https://github.com/alercebroker/lc_classifier#egg=lc_classifier
